Binaries
Content/FirstPerson/
Content/FirstPersonCPP/
Content/FlashlightTut/
Content/Geometry/
Content/Interfaces/
Content/Megascans/
Content/MSPresets/
Content/ShaderTutorial/
Content/Textures/
Content/BP_MainGameHUB.uasset
Content/BP_MainMenu_HUD.uasset
Content/WGT_MainMenu_HUD.uasset
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace